html {
 margin: 0 15%;
}

main {
 /* margin: 0 15%; */
 background: linear-gradient(0deg, var(--color-green), var(--color-white));
}

h1 {
 /* margin: 2rem 0 0.6rem 0; */
 padding: 0.5rem 1rem 0.9rem;
 margin: 0;
 background: linear-gradient(0deg, var(--color-white-grey), var(--color-grey));
}

.gallery {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 align-items: center;
}

.image-container {
 margin: 1rem auto;
 width: 30%;
 box-shadow: 0 1rem 1.3rem var(--color-grey);
}

img {
 width: 100%;
 height: auto;
}

.image-info {
 text-align: center;
}
