html {
 --color-green: rgb(138, 170, 121);
 --color-white: rgb(255, 247, 248);
 --color-white-grey: rgb(202, 202, 202);
 --color-white-trans: rgba(255, 247, 248, 0.801);
 --color-red: rgb(146, 20, 12);
 --color-grey: rgb(67, 80, 88);
 --color-dark-grey: rgb(20, 20, 20);
}

body {
 font-family: "Work sans", sans-serif;
 font-size: 1rem;
 text-align: justify;
 line-height: 1.5rem;
 margin: 0;
 padding: 0;
 background: linear-gradient(0deg, var(--color-white), var(--color-dark-grey));
}
header {
 background-image: url(images/banner.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 width: 100%;
 height: 20rem;
}
nav ul {
 list-style: none;
 display: flex;
 background-color: var(--color-grey);
 margin: 0;
 padding: 0.5rem 0;
}

ul a,
#return {
 text-decoration: none;
 background-color: var(--color-green);
 padding: 0.25rem 0.5rem;
 color: var(--color-dark-grey);
 border: 1px solid var(--color-grey);
 border-radius: 4px;
 margin: 0;
}

ul a:hover,
#return:hover {
 transition: 1s;
 color: var(--color-white);
 background-color: var(--color-red);
}

nav li {
 padding: 0.3rem;
}

main {
 margin: 0 15%;
 background-color: var(--color-white);
}

h1 {
 font-family: "Roboto Serif", sans-serif;
 font-size: 2.5rem;
 margin: 2rem 0 0.6rem 0;
}

h2 {
 font-family: "Roboto Serif", sans-serif;
 font-size: 2rem;
 text-decoration: underline;
}

h3 {
 font-family: "Roboto Serif", sans-serif;
 font-size: 1.5rem;
 margin: 0rem 0 0.6rem;
 padding: 0 0 0.6rem;
}

div {
 text-align: center;
 margin: auto;
 background: linear-gradient(0deg, var(--color-white), var(--color-grey));
}

#quote {
 list-style: none;
 margin: 1rem;
 padding: 0.5rem 0.5rem;
}

#quote li {
 margin: 0 0 1.5rem;
}

#life {
 background: linear-gradient(180deg, var(--color-white), var(--color-green));
 margin: 4rem 0 0;
 padding: 1rem 2rem;
}

#title {
 margin: 2rem;
 display: grid;
 grid-template-columns: 30% auto;
 grid-template-rows: auto;
 grid-template-areas:
  "img quote1"
  "img quote2"
  "img quote3"
  "img quote4";
}

#title img {
 box-sizing: border-box;
 grid-area: img;
 width: 100%;
 border: 0.3rem solid var(--color-grey);
 box-shadow: 0.2rem -0.2rem 0.5rem var(--color-grey);
 border-radius: 0.5rem;
 margin-left: 0.2rem;
}

#one {
 grid-area: quote1;
}
#two {
 grid-area: quote2;
}
#three {
 grid-area: quote3;
}
#four {
 grid-area: quote4;
}

#logo {
 width: 100%;
 border: 0.1rem solid var(--color-dark-grey);
 box-shadow: 2px -2px 4px black;
}

#jdf-present,
#jdf-young {
 width: 15rem;
 /* border: 0.2rem solid var(--color-green); */
 box-shadow: 0.2rem -0.2rem 0.5rem var(--color-green);
 /* border-radius: 2rem; */
}

#jdf-present {
 margin: 0 1rem 1rem 0;
 float: left;
}

#jdf-young {
 margin: 0 0 1rem 1rem;
 float: right;
}

#heading-two h2 {
 background: var(--color-green);
 margin: 0;
 padding: 2rem 2rem 1rem;
 text-align: left;
 border-top: 0.25rem double var(--color-dark-grey);
}

#fan {
 background: linear-gradient(180deg, var(--color-green), var(--color-grey));
 padding: 1rem 2rem;
 display: flex;
 align-items: center;
}

#fan p {
 padding: 0 2.5rem;
}

#fan img {
 width: 16rem;
 border-right: 0.5 solid

 /* border: 0.2rem solid var(--color-dark-grey); */
 box-shadow: 0.2rem -0.2rem 0.5rem var(--color-grey);
 border-radius: 0.5rem;
}

#return {
 font-size: medium;
 display: block;
 border: thin solid var(--color-dark-grey);
 background-color: var(--color-red);
}

#return:hover {
 background-color: var(--color-grey);
}

footer {
 font-size: x-small;
 background-color: var(--color-red);
 text-align: center;
 color: white;
 padding: 1rem 0;
}

footer a {
 text-decoration: none;
 color: var(--color-white);
}

footer a:hover {
 color: var(--color-white-grey);
}
