html {
 --color-green: rgb(138, 170, 121);
 --color-white: rgb(255, 247, 248);
 --color-white-trans: rgba(255, 247, 248, 0.801);
 --color-red: rgb(146, 20, 12);
 --color-grey: rgb(67, 80, 88);
 --color-dark-grey: rgb(20, 20, 20);
}

body {
 font-family: "Work sans", sans-serif;
 font-size: 1rem;
 margin: 0;
 padding: 0;
 background: linear-gradient(0deg, var(--color-white), var(--color-dark-grey));
}
header {
 background-image: url(/images/banner.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 /* border-radius: 0 0 10px 10px; */
 width: 100%;
 height: 20rem;
}
nav ul {
 list-style: none;
 display: flex;
 background-color: var(--color-grey);
 margin: 0;
 padding: 0.5rem 0;
}

ul a,
#fan a {
 text-decoration: none;
 background-color: var(--color-green);
 padding: 0.25rem 0.5rem;
 color: var(--color-dark-grey);
 border: 1px solid var(--color-grey);
 border-radius: 4px;
 margin: 0;
}

ul a:hover,
#fan a:hover {
 transition: 1s;
 color: var(--color-white);
 background-color: var(--color-red);
}

nav li {
 padding: 0.3rem;
}

main {
 margin: 0 15%;
 background-color: var(--color-white);
}

h1 {
 font-size: 2.5rem;
 margin: 0.6rem 0 0.6rem 0;
}

h3 {
 margin: 0rem 0 0.6rem;
 padding: 0 0 0.6rem;
}

div {
 text-align: center;
 /* padding: 0.5rem 0.25rem; */
 margin: auto;
 /* background-color: rgb(165, 189, 165); */
 background: linear-gradient(0deg, var(--color-white), var(--color-grey));
}
/* 
#title img {
 float: left;
 border: 3px solid rgb(82, 82, 82);
 box-shadow: 3px -2px 4px black;
 border-radius: 1rem;
 margin: 0 1rem;
}*/

#quote {
 list-style: none;
 margin: 1rem;
 padding: 0.5rem 0.5rem;
}
#quote li {
 margin: 1.5rem 0;
}

#life {
 display: inline-block;
 background: linear-gradient(180deg, var(--color-white), var(--color-green));
 margin: 4rem 0;
 padding: 1rem 2rem;
}

#title {
 display: grid;
 grid-template-columns: 30% auto;
 grid-template-rows: auto;
 grid-template-areas:
  "img quote1"
  "img quote2"
  "img quote3"
  "img quote4";
}

#title img {
 box-sizing: border-box;
 grid-area: img;
 width: 100%;
 border: 0.2rem solid var(--color-dark-grey);
 box-shadow: 0.2rem -0.2rem 0.5rem var(--color-grey);
 border-radius: 0.5rem;
 margin-left: 0.2rem;
}

#one {
 grid-area: quote1;
}
#two {
 grid-area: quote2;
}
#three {
 grid-area: quote3;
}
#four {
 grid-area: quote4;
}

#life img {
 width: 100%;
 border: 0.1rem solid var(--color-dark-grey);
 box-shadow: 2px -2px 4px black;
 /* background-color: var(--color-white-trans); */
}

/* #fan {
  background-var();
 margin: 10rem 0;
} */
